Debug/
pjlib-util/build/output/
pjlib/build/output/
pjmedia/build/output/
pjnath/build/output/
pjsip-apps/build/output/
pjsip/build/output/
third_party/build/baseclasses/output/
third_party/build/g7221/output/
third_party/build/gsm/output/
third_party/build/ilbc/output/
third_party/build/milenage/output/
third_party/build/portaudio/output/
third_party/build/resample/output/
third_party/build/speex/output/libspeex--Win32-vc8-Debug-Dynamic/CL.write.1.tlog
third_party/build/speex/output/libspeex--Win32-vc8-Debug-Dynamic/exc_10_32_table.obj
third_party/build/speex/output/libspeex--Win32-vc8-Debug-Dynamic/cb_search.sbr
third_party/build/speex/output/libspeex--Win32-vc8-Debug-Dynamic/cl.command.1.tlog
third_party/build/speex/output/libspeex--Win32-vc8-Debug-Dynamic/exc_5_256_table.obj
third_party/build/speex/output/libspeex--Win32-vc8-Debug-Dynamic/exc_20_32_table.obj
third_party/build/speex/output/libspeex--Win32-vc8-Debug-Dynamic/exc_20_32_table.sbr
third_party/build/speex/output/
third_party/build/srtp/output/
