pjlib-util/build/output/
pjlib/build/output/pjlib--Win32-vc8-Debug-Dynamic/BscMake.command.1.tlog
pjlib/build/output/
pjlib-util/lib/
pjmedia/build/output/
pjnath/build/output/
pjsip-apps/build/output/
pjsip/build/output/
pjsua2_net/bin/
pjsua2_net/obj/
third_party/build/
third_party/lib/
pjsua2/output/
pjsua2/Debug/
